In [1]:
import pandas as pd

In [2]:
# Let's take a look at how we should start our data processing. Data from CSV file will help us find patterns or groups. 

# Data loading
file_path = "Resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [3]:
# Question 1: What data is available?

In [4]:
# Use the 'columns' method and output the columns

# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [5]:
# Use the 'dtypes' method, confirm the data type. NOTE: This will atert us if anything should be changed next. 

# List dataframe data types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [6]:
# Use the 'isnull()' method to check for missing values.
# Do this by looping through each column, check if there are null values, sum them up, and print out a readable total.

# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [7]:
# Question 2: What can be removed?

In [8]:
# Rows of data with null values can be removed with the 'dropna()' method

# Drop null rows
df_shopping = df_shopping.dropna()

In [9]:
# Use the 'duplicated().sum()' method to check for duplicates

# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [10]:
# Remove the 'CustomerID' column. It does not offer any insight into customer shopping habits.

# Remove the CustomerID Column
df_shopping.drop(columns=["CustomerID"], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0